.root {
    main-color: rgb(237, 255, 242);
    -fx-background-color: main-color;
    -fx-background-image: url("../images/background.jpg"); /* Set image */
    -fx-background-size: cover;
}

.text-field {
    -fx-background-color: #2e2e2e; /* Dark grey */
    -fx-text-fill: white; /* White text */
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: navy;
    -fx-font: italic bold 16px "Arial";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color:blue;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:cyan;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

